<nav class="navbar" role="navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <%= link_to t('create_post'), new_user_post_path(current_user.id), class: "button is-link" %>
    </div>
  </div>
</nav>