<div class="column is-12">
  <div>
    <img src=<%= get_photo(user) %> alt="profile picture" >
  </div>
  <div>
    <h4><%= user.name %></h4>
    <p><%= t('posts_counter', count: user.posts_counter)%></p>
  </div>
</div>