  <article class="media is-align-items-center">
    <div class="media-left">
      <figure class="image is-128x128">
        <img src=<%= get_photo(user) %> alt="profile picture" >
      </figure>
    </div>
    <div class="media-content notification">
      <div class="content">
        <h4 class="title is-4"><%= user.name %></h4>
        <p class="has-text-right is-size-7"><%= t('posts_counter', count: user.posts_counter)%></p>
      </div>
    </div>
  </article>