<div>
  <article class="media">
    <div class="media-left">
      <figure class="image is-96x96">
        <img src=<%= get_photo(user) %> alt="profile picture" >
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h4 class="title is-4"><%= user.name %></h4>
        <p><%= t('posts_counter', count: user.posts_counter)%></p>
      </div>
    </div>
  </article>
</div>