<%= render @user %>
<% if @user.bio.present? %>
	<div class="mt-5 notification">
	  <h5 class="title is-6">Bio</h5>
	  <p class="is-6"><%= @user.bio %></p>
	</div>
<% end %>
<%= render partial: "posts/post", collection: @posts %>
<% if @user.posts_counter > 0 %>
	<%= link_to "See all post", user_posts_path(@user.id), class: "button is-link is-small" %>
<% end %>