<%= render @user %>
<div>
 <h5>Bio</h5>
 <p><%= @user.bio %></p>
</div>
<%= render partial: "posts/post", collection: @posts %>
<div class="is-align-items-center">
	<%= link_to "See all post", user_posts_path(@user.id), class: "button is-link is-small" %>
</div>