<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.user.name %></strong> <small><%= t('time_ago', time: time_ago_in_words(comment.created_at)) %></small>
        <br>
        <%= comment.text %>
      </p>
    </div>
  </div>
</article>