<article class="media">
  <figure class="media-left">
    <p class="image is-32x32">
      <img class="is-rounded" src=<%= get_photo(comment.user) %> >
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.user.name %></strong> <small><%= t('time_ago', time: time_ago_in_words(comment.created_at)) %></small>
        <br>
        <%= comment.text %>
      </p>
    </div>
    <% if can? :destroy, comment %>
      <nav class="level is-mobile">
        <div class="level-left"></div>
        <div class="level-right">
          <a class="level-item">
            <button class="button is-small is-danger is-light">Delete</button>
          </a>
        </div>
      </nav>
    <% end %>
  </div>
</article>