<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
			<h4 class="title is-5">BLOG</h4>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
  		<% if user_signed_in? %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to t('create_post'), new_post_path, class: "button is-link is-small" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-small is-danger" %>
          </div>
        </div>
			<% end %>
    </div>
  </div>
</nav>