<div class="is-flex mb-2">
	<div class="buttons">
		<%= link_to "Edit", edit_post_path(@post.id), class: "button is-light is-link is-small" %>
		<%= link_to "Delete", post_path(@post.id), method: :delete, class: "button is-light is-danger is-small" %>
	</div>
</div>