<div class="is-flex mb-2">
	<div class="buttons">
  	<% if can? :edit, @post %>
			<%= link_to "Edit", edit_post_path(@post.id), class: "button is-light is-link is-small" %>
		<% end %>
		<% if can? :destroy, @post %>
			<%= button_to "Delete", post_path(@post.id), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-light is-danger is-small" %>
		<% end %>
		<% if @liked %>
			<%= button_to pluralize(@post.likes_counter, "Like"), like_path(@post.id), method: :delete, remote: true, class: "button is-primary is-small", data: { disable_with: true } %>
		<% else %>
			<%= button_to pluralize(@post.likes_counter, "Like"), post_likes_path(@post.id), method: :post, remote: true, class: "button is-primary is-small is-inverted", data: { disable_with: true } %>
		<% end %>
	</div>
</div>