<%= form_with url: post_comments_path(@post.id), local: false, scope: :data, class: "mb-6" do |form| %>
	<div class="field">
		<%= form.text_area :text, placeholder: t('leave_comment'), rows: 3, required: true, class: "textarea has-fixed-size" %>
	</div>
	<%= form.submit t('submit'), class: "button is-link", data: { disable_with: t('loading')} %>
<% end %>