<%= render partial: "users/user", object: @user %>
<div class="columns is-flex-direction-column">
  <% @posts.each do |post| %>
    <div class="column">
      <%= render partial: "post", object: post %>
      <%= render partial: "shared/comment", collection: post.recent_comments %>
    </div>
  <% end %>
</div>