<%= render partial: "users/user", object: @user %>
<% @posts.each do |post| %>
	<%= render "post", object: post %>
  <%= render "shared/comment", collection: post.recent_comments %>
<% end %>
<button>Pagination</button>