<%= render partial: "users/user", object: @user %>
<% @posts.each do |post| %>
  <%= render partial: "post", object: post %>
  <%= render partial: "shared/comment", collection: post.recent_comments %>
<% end %>
<div class="is-justify-content-center">
  <button class="button is-small">Pagination</button>
</div>