<%= render partial: "users/user", object: @user %>
<% @posts.each do |post| %>
	<%= render partial: "post", object: post %>
  <%= render partial: "shared/comment", collection: post.recent_comments %>
<% end %>
<button>Pagination</button>